.hero {
    background-image: url(https://demos.creative-tim.com/paper-kit-2-pro/assets/img/sections/pk-pro-cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

.container-hero {
    display: flex;
    height: 500px;
    min-height: 100vh;
    padding: 20px 0;
}

.content-hero {
    margin: auto;
}

.section-one {
    padding: 100px 0;
    background-color: #331460;
    color: #fff;
    text-align: center;
}

.section-two {
    padding: 0 0 100px;
    background-color: #331460;
    color: #fff;
    text-align: center;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        position: absolute;
        top: 446px;
        background:
        rgba(26, 70, 104, 0.51);
        width: 100%;
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}
